<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Dashboard</title>
    <link rel="stylesheet" href="./css/Dashboard.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
<iframe src="./Navbar.html" width="100%" height="80px"></iframe>
    <h1>Product Dashboard</h1>
    <div id="product-container" class="product-grid"></div>
    <script type="module" src="../Model/Dashboard.js"></script>
    <div class="product-list">loading...</div>
</body>
</html>
